<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower Classification</title>
</head>

<body>
    <h1>Iris Flower Classification</h1>
    <form action="/classify" method="POST">
        <label for="sepal-length">Sepal Length (cm):</label>
        <input type="float" id="sepal-length" name="sepal_length" required placeholder="between 4.0 and 8.0"><br><br>

        <label for="sepal-width">Sepal Width (cm):</label>
        <input type="float" id="sepal-width" name="sepal_width" required placeholder="between 2.0 and 4.5"><br><br>

        <label for="petal-length">Petal Length (cm):</label>
        <input type="float" id="petal-length" name="petal_length" required placeholder="between 1.0 and 7.0"><br><br>

        <label for="petal-width">Petal Width (cm):</label>
        <input type="float" id="petal-width" name="petal_width" required placeholder="between 0.1 and 2.5"><br><br>

        <button type="submit">Classify</button>
    </form>

    <div id="result">
        {% if pred %}
        <p>Predicted Iris Class: {{ pred }}</p>
        {% endif %}
    </div>

    <div>
        {% with message = get_flashed_messages() %}
        {% if message %}
        {{ message }}
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>